const baseState = {
    isFetching: false,
    books: { },
    filter: { page: 1, perPage: 25 }
};

function(state = baseState, { type, payload }) {
    switch(type) {
        case FETCH_BOOKS:
            return { ...state, isFetching: true };
        case STOP_FETCHING_BOOKS:
            return { ...state, isFetching: false };
        case ADD_BOOKS:
            return { ...state, books: payload };
        case CHANGE_BOOK_LIST_PAGE:
            return { ...state, filter: { ...state.filter, page: payload };
        default:
            return state;
    }
}