import { combineReducers } from "redux";
import authReducer from "./authReducer";
import bookReducer from "./bookReducer";
import authorReducer from "./authorReducer";

const rootReducer = combineReducers({
    auth: authReducer,
    book: bookReducer,
    author: authorReducer
});

export default rootReducer;